<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>it.cgr-riciclodelpet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F489DCB71FF6945B00E61B72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F489DCCB1FF6945B00E61B72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F489DCD61FF6945B00E61B72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
